<ins>#{{ id }}</ins> [<em>{{ tags|upper() }}</em>]

<em>Publicado em: {{ published_at }}</em>
<em>Autoria: {{ author }}</em>

<strong>{{ title }}</strong>

{{ summary }}.
Confira a notícia na íntegra:
{{ url }}
