<pre>ID</pre>
{{ id }}

<pre>Tags</pre>
{{ tags|upper() }}

<pre>Data de Publicação</pre>
{{ published_at.strftime('%d/%m/%Y') }}

<pre>Autoria</pre>
{{ author }}

<strong>{{ title }}</strong>
{{ summary }}

{{ url }}
